.header {
    display: flex;
    /* justify-content: space-between; */
    padding: 45px 0 0 0;
    margin-bottom: 36.25px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media only screen and (max-width: 1023px) {
    .header {
        padding: 28px 28px 0 28px;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        padding: 28px auto 0 0;
    }
}